<%= form_with(model: @plan, local: true, url: choose_new_or_edit) do |form| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h4><%= @plan.errors.count %>件のエラーがあります。</h4>
      <ul>

      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>  
  <div class = "container">
    <table class="table">
    <tr>
      <th>LessonDate</th>
      <td><%= form.date_field :lessondate %></td>
    </tr>
    <tr>
      <th>Item</th>
      <td><%= form.text_field :item, :size=>"50x3" %></td>
    </tr>
    <tr>
      <th>Goal</th>
      <td><%= form.text_area :goal, :size=>"70x3" %></td>
    </tr>
    <tr>
      <th>Content</th>
      <td><%= form.text_area :content, :size=>"80x20" %></td>
    </tr>
    <tr>
      <th>Image</th>
      <td><%= image_tag(@plan.image.url) if @plan.image.url %>
          <%= form.file_field :image, id: :plan_image, :size=>"15x15" %></td>
    </tr>
  </table>
  <div class = "linkbtn">
   <%= form.submit 'CREATE', class: 'btn btn-primary btn-lg' %>
  </div>
 </div>
  <% end %>
  <br>
  
<div class ="linkbtn">
 <%= link_to "Back to teaching plans", plans_path, class: "btn btn-primary btn-lg" %>
</div>