<h3 class="titles">CONFIRM new Teaching Plan</h3>
<br>
<%= form_with(model: @plan, url: plans_path, local: true) do |form| %>
  <%= form.hidden_field :lessondate %>
  <%= form.hidden_field :goal %>
  <%= form.hidden_field :item %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  
<div class = "container">
    <table class="table">
    <tr>
      <th>LessonDate</th>
      <td><%= @plan.lessondate %></td>
    </tr>
    <tr>
      <th>Item</th>
      <td><%= simple_format(@plan.item) %></td>
    </tr>
    <tr>
      <th>Goal</th>
      <td><%=  simple_format(@plan.goal) %></td>
    </tr>
    <tr>
      <th>Content</th>
      <td class = "contentfield"><%= simple_format(@plan.content) %></td>
    </tr>
    </table>
    <div>
      <p>Image</p>
      <%= image_tag(@plan.image) %>
    </div>
<br>
   <div class ="linkbtn">
    <%= form.submit 'SAVE', class: 'btn btn-primary btn-lg btn-block' %>
   </div>
<% end %>

<%= form_with(model: @plan, url: new_plan_path, local: true, method: 'post') do |form| %>
  <%= form.hidden_field :lessondate %>
  <%= form.hidden_field :goal %>
  <%= form.hidden_field :item %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
 
 <br>
 <div class ="linkbtn">
   <%= form.submit 'back', class: 'btn btn-danger btn-lg btn-block' %>
 </div>
</div>
<% end %>
 