<h1 class="lists_title container-fluid titles">Teaching Plan Lists</h1>

<%= form_tag plans_path, :method => 'get' do %>
  <p class = "searchbox">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Item Search",:name => nil %>
  </p>
<% end %>

<p class = "notice"></p>

<%# if user_id == current_user.id %>
<%# binding.pry %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>LessonDate</th>
        <th>Item</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.lessondate %></td>
          <td><%= plan.item %></td>
          <td><%= link_to 'Show', plan, class: 'btn btn-success btn-sm' %></td>
          <td><%= link_to 'Edit', edit_plan_path(plan), class: 'btn btn-info btn-sm' %></td>
          <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
          <td><%= link_to 'Portfolio', favorites_path, class: 'btn btn-basic btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%# end %>

<div class = "linkbtn">
<%= link_to 'CREATE new Teaching Plan', new_plan_path, class: "btn btn-primary" %>
</div>
