<h1 class="lists_title container-fluid">Teaching Plan</h1>

<article>
  
 <div class="shows">
  <div class = "row">

   <div class="imageup col-md-11">
    <ul class="row">
      <li class="col-offset-md-1 col-md-5">LessonDate: <%= @photo.date %></li>
      <li class="col-md-6" >Goal: <%= @plan.goal %></li>
      <li class="col-offset-md-1 col-md-5">Item: <%= @plan.item %></li>
      <li class="col-md-6" >Content: <%= @plan.content %></li>
    </ul>
   </div>
  </div>
 </div>
</article>

<% unless @photo.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'DELETE from my favorite', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'ADD my favorite', favorites_path(photo_id: @photo.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<br>

<%= link_to "Back to photo Lists", photos_path, class: "btn btn-primary" %>
