<!DOCTYPE html>
<html>
  <head>
    <title>Teachingport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="cb-materialbtn.min.css">
    
  </head>

  <body>
    
    <% if user_signed_in? %>
      <%= link_to " CREATE ", new_plan_path, class: 'btn btn-cyan300_flt btn-lg btnsizea' %>
      <%= link_to " LOG OUT ", destroy_user_session_path, method: :delete, class: 'btn btn-amber100_ftg btn-lg btnsizeb'%>
      <%= link_to " PLAN LISTS ", plans_path, class: 'btn btn-blue50_rsd btn-lg btnsizec'%>
      <%= link_to "TOP", root_path, class: 'btn btn-biuegray200_flt btn-lg btnsizeb' %>
    <% else %>
      <%= link_to "SIGN UP", new_user_registration_path, class: 'btn btn-lightgreen100_ftg btn-lg btnsizec' %>
      <%= link_to "LOG IN", new_user_session_path, class: 'btn btn-amber200_ftg btn-lg btnsizeb' %>
      <%= link_to "TOP", root_path, class: 'btn btn-biuegray200_flt btn-lg btnsizeb' %>
    <% end %>
    
   <br>
   <div class="noticearea">
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
   </div>
   
    <!--<div class = "headerbtn">-->
      <%#= link_to "TEACHING PORT", root_path, class: 'btn btn-link btn-sm' %>
    <!--</div>-->
    
    <%= yield %>
  </body>
</html>
